# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Telegram.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lijog\RiderProjects\Telegram\.idea\.idea.Telegram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
